body{
    background-color: lightgrey;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}
td{
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
tr {
    height: 200px;
}
button{
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
}
div{
    text-align: center;
}
img{
    max-width: 200%;
}