body{
    font-family: Arial, sans-serif;
    background-color: #b8b8b8;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
a {
    color: #3498db;
    text-decoration: none;
}
h1{
    color: rgb(54, 8, 54);
}
p{
    color: rgb(108, 0, 0);
}
div{
    text-align: center;
}
.my-div {
    background-color: #ffffff;
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.my-div:hover {
    transform: scale(1.02);
}
img{
    width: 200px;
}
